<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groupo.travellight.app" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <uses-sdk android:minSdkVersion="19" />
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <activity
            android:name="groupo.travellight.app.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="groupo.travellight.app.MainScreen"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="MainScreen" >
        </activity>
        <activity
            android:name="groupo.travellight.app.HelpActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="HelpActivity" >
        </activity>
        <activity
            android:name="groupo.travellight.app.NotificationsActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="Notifications" >
        </activity>
        <activity
            android:name="groupo.travellight.app.YelpSearch"
            android:label="@string/title_activity_yelp_search"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PackingListActivity"
            android:label="Packing List"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="groupo.travellight.app.EventsBag"
            android:label="@string/title_activity_events_bag"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

    </application>

</manifest>
