<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groupo.travellight.app" >
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/travellight"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <uses-sdk android:minSdkVersion="19" />
        <provider
            android:name="FileContentProvider"
            android:authorities="groupo.travellight.app.FileContentProvider"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name="groupo.travellight.app.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="groupo.travellight.app.MainScreen"
            android:label="MainScreen" >

            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </activity>

        <activity
            android:name="groupo.travellight.app.HelpActivity"
            android:label="HelpActivity" >
        </activity>

        <activity
            android:name="groupo.travellight.app.NotificationsActivity"
            android:label="Notifications" >
        </activity>
        <activity
            android:name="groupo.travellight.app.EventsBag"
            android:label="EventsBagActivity" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".YelpResultsActivity" >

            <!-- Setup the search configuration -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <!-- Declare the intent for popup upon callback -->
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>
        <activity
            android:name="groupo.travellight.app.PackingListActivity"
            android:label="Packing List" >
        </activity>

        <activity android:name="groupo.travellight.app.TripActivity"
            android:label="Trips"
            android:icon="@drawable/ic_action_trip">
            <!-- enable the search widget to send searches to YelpResultsActivity -->
            <meta-data android:name="android.app.default_searchable"
                android:value=".YelpResultsActivity" />
        </activity>
    </application>


</manifest>
